// Primary Color
$primary-100:#3057C1;;
$primary-200: #161930;



/// background

$background_primary_1 : linear-gradient(to right, #3F6CEC, #2E54B4);


// Black & White
$black: #000000;
$white: #ffffff;


//Shadows
$shadow-1:0px 8px 12px rgba(0, 0, 0, 0.25);;

//Font-Sizes
$size-xx-small: 14px;
$size-x-small: 15px;
$size-small: 16px;
$size-regular: 18px;
$size-medium: 20px;
$size-larg: 24px;
$size-x-larg: 32px;
$size-xx-larg: 45px;



// Breakpoint
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
