header{
    // background-color: yellow;

    .navbar_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        ul{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding-top: 22px;
    
            li{
                padding: 0px 20px;
                font-family: 'montserrat-bold';
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                a{
                    color: $primary-200;
                    cursor: pointer;

                }
                .hover_nav{
                    &:hover{
                        color: $primary-100;
                    }
                }
            }
        }
        .selectpicker{
            background-color: transparent;
            cursor: pointer;
            color: #2E54B5;

        }
        @media only screen and (max-width: 768px) {
 
                .item_menu{
                    display: none !important;
                }

       }
       @media only screen and (max-width: 560px) {
           padding-top: 0px;
           .logo{
               img{
                   width: 80% !important;
               }
           }
           ul{
               padding-top: 18px;

           }
 
        }
    }

}

.burger_menu{
    border: 1px solid #2E54B5;
    padding: 12px !important;
    border-radius: 9px;
    cursor: pointer;
    display: none;
    span{
        display: block;
        height: 5px;
        width: 30px;
        margin: 3px 0px;
        background: #2E54B5;
        border-radius: 6px;
    }
    @media only screen and (max-width: 768px) {
        display: block;
}

#span_2_burger_on{
    width: 65% !important;
    margin-left: auto !important;
}
#span_2_burger_off{
    width: 100% !important;
}

}

#menu_mobile_off{
    display: none;
}

#menu_mobile_on{
    display: block;
}
.menu_mobile{
    width: 25%;
    z-index: 20;
    padding: 25px;
    background-color: #2E54B5;
    border-radius: 10px;
    margin-left: auto;
    position: relative;
    bottom: 22px;
    left: 2px;
    a{
        display: block;
        color: white !important;
        padding: 10px 0px;
        cursor: pointer;
        &:hover{
            color: #4EE9FF !important;
        }
    }
    @media only screen and (max-width: 560px) {
        width: 45%;

}
}


header{
    @media only screen and (max-width: 560px) {
        .btn{
            font-size: 15px !important;
            padding: 11px 17px !important;
        }
    }
}

@media only screen and (max-width: 768px) {
    .logo_if_menu_on{
        position: relative;
        top: 68px;
    }
}
@media only screen and (max-width: 560px) {
    .logo_if_menu_on{
        // position: relative;
        top: 0px;
    }
}


.langage{
    cursor: pointer;
    span{
        font-family: 'montserrat-bold';
        font-size: 20px;
        color: $primary-100;
        position: relative;
        left: 2px;
        top: 2px;
    }
    svg{
        width: 15px;
    }
}
.chin{
    border: 1px solid $primary-100;
    padding: 13px 17px;
    position: absolute;
    border-radius: 8px;
    display: none;
}