.header_hero {
    background-image: url(../img/background/heroback.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    padding-bottom: 170px;
    @media only screen and (max-width: 1440px) {
        padding-bottom: 100px;
    }
    @media only screen and (max-width: 1280px) {
        padding-bottom: 30px;
    }
    // @media only screen and (max-width: 1024px) {
    //     padding-bottom: 240px;
    // }
    @media only screen and (max-width: 768px) {
        background-image: url(../img/background/mobilehero.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: inherit;
        // padding-bottom: 170px;
    }
    @media only screen and (max-width: 560px) {
        padding-bottom: 240px;
    }
}

.hero {
    padding: 50px;
    .hero_content {
        display: flex;
        justify-content: space-evenly;
        .text_content {
            width: 55%;
            font-style: normal;
            font-weight: 700;
            color: #161930;
            h2 {
                font-size: 37px;
                font-family: 'montserrat-ExtraBold';
                line-height: 50px;
                letter-spacing: 1.38px;
                margin: 30px 0px;
            }
            p {
                font-size: 18px;
                font-family: 'poping-Regular';
                line-height: 29px;
                margin: 30px 0px;
            }
            .btn {
                @include btn_color(white, $primary-100);
                font-family: 'poping-Medium' !important;
                padding: 12px 32px;
                &:hover {
                    color: $primary-100 !important;
                    border: 1px solid $primary-100;
                    background-color: white;
                }
            }
        }
    }
    @media only screen and (max-width: 1024px) {
        .hero_content {
            .illustration_img {
                width: 70%;
                img {
                    width: 80%;
                }
            }
            .text_content {
                position: relative;
                bottom: 30px;
                left: 38px;
                h2 {
                    font-size: 30px;
                    margin: 10px 0px
                }
                p {
                    font-size: 15px;
                    margin: 10px 0px;
                }
            }
        }
    }
    @media only screen and (max-width: 768px) {
        padding: 81px 0px 120px 0px;
        .hero_content {
            display: block;
            .text_content {
                width: 100%;
                text-align: center;
                position: initial;
                padding-top: 49px;
            }
            .illustration_img {
                width: 90%;
                margin: 33px auto;
                text-align: center;
            }
        }
    }
    @media only screen and (max-width: 560px) {
        .illustration_img {
            display: none;
        }
    }
}

.three_bools {
    padding-top: 30px;
    .zone_three_bool {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(251px, 1fr));
        justify-content: space-between;
        .item_bool {
            margin: 46px auto;
            a {
                color: #17234C !important;
            }
            &:hover img {
                box-shadow: -8px 9px 76px 0Px blue;
            }
            width: 95%;
            text-align: center;
            border-radius: 20px;
            box-shadow: 1px 4px 21px -11px grey;
            background-color: #f1f1f170;
            .second_border_icon_bool {
                border: 1px solid rgba(31, 46, 214, 0.7);
                width: 100%;
                padding: 10px 5px;
                border-radius: 100%;
                text-align: -webkit-center;
            }
            .first_border_icon_bool {
                border: 1px solid rgba(31, 46, 214, 0.3);
                // border: 1px solid #345cd3;
                width: 40%;
                padding: 6px;
                border-radius: 50%;
                margin: auto;
                position: relative;
                bottom: 55px;
            }
            .bool_icon {
                // box-shadow: 1px 9px 21px -11px grey;
                border-radius: 20px;
                height: 100px;
                background-color: white;
                .zone_bool {
                    background-color: $primary-100;
                    border-radius: 50%;
                    width: 102px;
                    height: 105px;
                    padding: 11Px;
                    margin: auto;
                    img {
                        position: relative;
                        top: 12px;
                    }
                }
                .bool2 {
                    padding: 13Px;
                }
                .bool3 {
                    padding: 13Px 16px;
                }
            }
            h4 {
                padding: 35px;
                font-family: 'montserrat-meduim';
                font-size: 22px;
            }
        }
    }
    @media only screen and (max-width: 560px) {
        position: absolute;
        bottom: 0px;
        top: 710px;
        left: 26px;
        .bool_icon {
            height: 60px !important;
        }
        .item_bool {
            width: 112% !important;
            transform: translate(5%, -57%);
        }
        .zone_bool {
            padding: 16Px !important;
            width: 60px !important;
            height: auto !important;
            img {
                position: inherit !important;
            }
        }
        h4 {
            padding: 20px;
        }
    }
    @media only screen and (max-width: 340px) {
        .item_bool {
            transform: translate(-8%, -57%);
        }
    }
}

.cards_ridotto,
.Ridotto_Lab {
    text-align: center;
    padding-top: 80px;
    p {
        font-family: 'poping-Regular';
        font-size: 16px;
        color: #737889;
        line-height: 30px;
    }
    .all_card {
        padding-top: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: space-between;
        .zone_card {
            box-shadow: 0px 14px 12px 2px rgb(234, 234, 253);
            ;
            width: 88%;
            border-radius: 35px;
            margin: 40px auto;
            z-index: 100;
            position: relative;
            transition: top ease 0.5s;
            // transition: width 2s, height 2s, background-color 2s, transform 2s;
            &:hover {
                transition: 0.5s;
                transform: translateY(-2%);
                // bottom: 50px;
            }
        }
        .item_card {
            width: 100%;
            padding: 40Px 26px;
            border-radius: 35Px;
            background-color: white;
            text-align: start;
            color: #17234D;
            box-shadow: 0px 18px 1px -6px #eff3f7;
            height: 100%;
            h4 {
                padding: 22px 0px;
                border-bottom: 1px solid $primary-100;
                margin-bottom: 30px;
                font-family: 'montserrat-SemiBold';
                font-size: 21px;
            }
            p {
                font-size: 16px;
                line-height: 27px;
                font-family: 'poping-Medium';
                color: #17234D;
            }
            img {
                width: 30%;
                margin-bottom: 10Px;
            }
            .forth_svg {
                width: 44% !important;
            }
        }
    }
    @media only screen and (max-width: 560px) {
        padding-top: 560px;
        .les_blue_point {
            display: none;
        }
    }
}

.Ridotto_Lab {
    padding-top: 300px !important;
    .all_card {
        img {
            width: 24% !important;
        }
    }
    @media only screen and (max-width: 768px) {
        padding-top: 100px !important;
    }
}

.sociel_media {
    text-align: center;
    padding-top: 80px;
    p {
        font-family: 'poping-Regular';
        font-size: 16px;
        color: #737889;
        line-height: 30px;
    }
    .sociel_card {
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
        padding-top: 67px;
        border-radius: 20px;
        background-image: url(../img/background/our_comminity.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .card_sociel_media {
            position: relative;
            top: 47Px;
            width: 23%;
            background-color: white;
            padding: 16Px 53px;
            border-radius: 22px;
            height: 131px;
            box-shadow: 0px 6px 1px -1px #ecf2fc;
            &:hover .zone_icon_sociel {
                box-shadow: -4px 0px 128px -13Px blue;
            }
            .icon__titre {
                position: relative;
                bottom: 60px;
                h4 {
                    padding-top: 20px;
                    font-family: 'poping-iLght';
                    font-size: 23px;
                }
                .youtube_titre {
                    padding-top: 4px;
                }
            }
            .zone_icon_sociel {
                border: 5px solid #b9c7f0;
                background-color: white;
                width: 73%;
                border-radius: 62%;
                /* height: 91%; */
                padding: 24px 0px;
                margin: auto;
                img {
                    width: 44% !important;
                }
            }
        }
    }
    @media only screen and (max-width: 768px) {
        .sociel_card {
            display: block;
            background-image: none;
            .card_sociel_media {
                position: inherit;
                width: 40%;
                margin: 79px auto;
            }
        }
    }
    @media only screen and (max-width: 560px) {
        .sociel_card {
            .card_sociel_media {
                width: 70%;
            }
        }
    }
}

.Keep_touch {
    margin-top: 180px;
    text-align: center;
    padding-top: 50px;
    background-image: url(../img/background/Footer.png);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    p {
        line-height: 25px;
        padding-bottom: 20px;
    }
    input,
    button {
        display: block;
    }
    form {
        background: white;
        padding: 40Px 42Px;
        border-radius: 20Px;
        box-shadow: 6px 2px 8px 6px#ecf2fc;
        input {
            width: 100%;
            height: 70px;
            padding-left: 30px;
            border-radius: 7px;
            background-color: white;
            border: 1px solid blue;
        }
         ::placeholder {
            font-size: 18;
            color: #111029;
            font-family: 'poping-Regular';
        }
        .btn {
            margin: 20px auto;
            color: white !important;
            background-color: $primary-100;
            &:hover {
                color: $primary-100 !important;
                background-color: white;
                border: 1px solid $primary-100;
            }
        }
    }
}

footer {
    padding-top: 60px;
    .footer_content {
        display: flex;
        justify-content: space-evenly;
        text-align: start;
        color: white;
        padding-bottom: 80px;
        .footer_icons {
            display: flex;
            img {
                margin: 0px 6px;
                width: 6%;
            }
        }
        a {
            display: block;
            color: white;
            font-family: 'poping-Regular';
            font-size: 14px;
            padding: 12px 0px;
            font-weight: 200;
            cursor: pointer;
            &:hover {
                color: black;
            }
        }
        .logo_footer {
            width: 35%;
        }
        p {
            font-family: 'poping-Regular';
            font-size: 16px;
            padding: 30px 0px;
        }
        h4 {
            font-family: 'montserrat-SemiBold' !important;
            font-size: 18px;
            padding-top: 18px;
        }
        .sociel_icons_mobile,
        .copyright_up {
            display: none;
        }
    }
    .copyright_bottom {
        font-size: 16px;
        font-family: 'poping-Semibold';
        padding-bottom: 50px;
        color: white;
    }
    @media only screen and (max-width: 560px) {
        .copyright_bottom {
            display: none;
        }
        .copyright_up {
            display: block !important;
        }
        .footer_content {
            display: block;
            padding-left: 20px;
            .logo_footer {
                width: 100%;
                .logo {
                    width: 60%;
                }
                p {
                    font-size: 13px;
                }
                .footer_icons {
                    display: none;
                }
            }
        }
        .sociel_icons_mobile {
            display: block !important;
            img {
                margin-right: 10px;
            }
            .discord_icon {
                img {
                    position: relative;
                    right: 5px;
                    margin-right: 0px;
                }
            }
        }
    }
}

.phone_video {
    text-align: center;
    padding-top: 70px;
    .video_card {
        padding-top: 50px;
        height: 950px;
        background-color: white;
        box-shadow: 0px 18px 1px -6px #eff3f7;
        border-radius: 20px;
        p {
            font-family: 'poping-Regular';
            font-size: 16px;
            padding-top: 20px;
            color: #737889;
        }
    }
    .game_pools_wallet {
        display: flex;
        justify-content: space-evenly;
        text-align: start;
        padding: 50px 100px;
        .text_content {
            padding-top: 50Px;
            .game,
            .pools,
            .wallet {
                border-bottom: 2px dashed $primary-100;
                padding-bottom: 10px;
                margin-bottom: 40px;
                cursor: pointer;
                &:hover h3 {
                    color: #3154D2;
                }
            }
            h3 {
                font-family: 'poping-Medium';
                font-size: 33px;
                padding-bottom: 20px;
                color: #1B3D58;
            }
            p {
                font-size: 20px !important;
                line-height: 32px !important;
                color: #4B6476 !important;
            }
        }
        .iphon_video {
            text-align: end;
            img {
                width: 86%;
            }
        }
    }
    @media only screen and (max-width: 1024px) {
        .game_pools_wallet {
            .text_content {
                p {
                    font-size: 16px !important;
                }
            }
        }
    }
    @media only screen and (max-width: 768px) {
        p {
            line-height: 30px;
        }
        .video_card {
            height: auto;
            .game_pools_wallet {
                padding: 0px 100px;
                display: block;
                .text_content {
                    p {
                        font-size: 16px !important;
                    }
                }
            }
            .iphon_video {
                img {
                    width: 100% !important;
                }
            }
        }
    }
    @media only screen and (max-width: 560px) {
        .video_card {
            .game_pools_wallet {
                padding: 0px 10px;
            }
        }
    }
}

.iphon_video {
    width: 75% !important;
    z-index: 20;
    video {
        padding: 20px;
        background-image: url(../img/illustration/iphone_11_pro.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 60px;
        outline: none;
    }
    @media only screen and (max-width: 1024px) {
        video {
            width: 90%;
            padding: 14px;
        }
    }
    @media only screen and (max-width: 768px) {
        video {
            padding: 20px;
            background-size: contain;
            margin-bottom: 40px;
        }
    }
    @media only screen and (max-width: 560px) {
        margin: auto;
        video {
            width: 100%;
            padding: 13px;
            background-size: cover;
            border-radius: 37px;
        }
    }
}

.iphon_blue_point_up {
    left: 400px;
    bottom: 30px;
    @media only screen and (max-width: 1024px) {
        left: 320px;
    }
}

.iphon_blue_point_bottom {
    top: 731px;
    left: 57px;
    @media only screen and (max-width: 1024px) {
        top: 520px;
    }
}

.iphon_blue_point_up,
.iphon_blue_point_bottom {
    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.card_calcule_slider {
    text-align: center;
    margin-top: 340px;
}

.card_calcule {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    padding: 50px;
    margin-top: 50px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 1px 4px 21px -11px grey;
    .part_slider {
        width: 60%;
        img {
            border-radius: 10px;
            margin: 20px;
        }
        .btn {
            margin: 10px 20px;
            background-color: $primary-100;
            color: white !important;
            &:hover {
                color: $primary-100 !important;
                border: 1px solid $primary-100;
                background-color: white;
            }
        }
    }
    .part_calcule {
        width: 60%;
        padding: 20px;
        padding-top: 40px;
        color: #161930;
        margin-top: 50px;
        .stake_apr {
            display: flex;
            justify-content: space-between;
            padding-bottom: 50px;
            h3 {
                font-family: 'montserrat-bold';
                font-size: 38px;
                font-weight: bolder;
            }
            h4 {
                font-size: 20px;
                font-family: 'poping-Regular';
                font-weight: 100 !important;
            }
            .apr {
                h4 {
                    text-align: end;
                }
            }
        }
        .daily,
        .monthly,
        .yearly {
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px dashed $primary-100;
            h5 {
                font-size: 20px;
                font-family: 'montserrat-bold';
            }
        }
        .zone_btn {
            text-align: center;
            .btn {
                background-color: $primary-100;
                color: white !important;
                padding: 16px 55px;
                &:hover {
                    color: $primary-100 !important;
                    border: 1px solid $primary-100;
                    background-color: transparent;
                }
            }
        }
    }
}

input[type=range] {
    width: 90%;
    height: -11px;
    margin: 13.8px 0;
    background-color: #3057C1;
    -webkit-appearance: none;
    border-radius: 40px;
    outline: none;
}